name: Build

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: "Init submodules"
      run: |
       git submodule update --init --recursive
    - name: "Install requirements"
      run: |
       pip install -r requirements.txt
    - name: "Create executable with pyinstaller"
      run: |
       pyinstaller --onefile --icon=updater.ico updater.py
