name: Create release

on:
  push:
    tags:
    - '*'

jobs:
  create_release:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive
    - name: "Get previous tag"
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@v1"
    - name: "Install requirements"
      run: |
       pip3 install -r requirements.txt
    - name: "Create executable with pyinstaller"
      run: |
       pyinstaller --icon=updater.ico updater.py
    - name: "Archive release"
      uses: thedoctor0/zip-release@master
      with:
        type: 'zip'
        path: dist/updater/
        filename: 'updater.zip'
    - name: "Release"
      uses: ncipollo/release-action@v1
      with:
        tag: ${{ steps.previoustag.outputs.tag }}
        artifacts: updater.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}
